{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
  #map { height: 100%; width: 100%;}
</style>
{% endblock css %}

{% block content %}
  <div class="card" id="map"></div>
{% endblock content %}

{% block js %}
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
<script>const locationEndpoint = "{% url 'location-api' %}";</script>
<script src="{% static 'js/locate.js' %}"></script>
{% endblock js %}